.card__group::-webkit-scrollbar{
    width: 0px;
    height: 30px;
}
.btn__edit{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gold;
    font-size: 18px;
    color: white;
    border-radius: 8px;
}
.date__p{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    padding: 4px 0px;
}
.delete__btn{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    font-size: 18px;
    color: white;
    border-radius: 8px;
}